# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# ML dataset
cat_n_dog/img/
mnist/mnist_png
wandb/

# vscode
.vscode/

# setuptools
*.egg-info/

# hydra
outputs/